<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maico_land">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <meta-data android:name="com.google.android.geo.API_KEY"
               android:value="AIzaSyAL3IuLxJ_WCt_vUnF-jR2lOJHjfPKXQPI"/>
</manifest>
